* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #E6ECF0;
  font-family: 'Helvetica Neue', 'Helvetica', Arial, Helvetica, sans-serif;
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
}

input, button {
  outline: 0;
}

.content {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 30px;
}

#main-header {
  height: 46px;
  background: #000;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
  position: relative;
  z-index: 1;
}

#main-header .content {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#main-header nav ul {
  display: flex;
  list-style-type: none;
}

#main-header nav ul li {
  display: flex;
  align-items: center;
  font-size: 13px;
  font-weight: bold;
  color: #04D361;
  margin-left: 30px;
}

#main-header nav ul li:first-child {
  margin: 0;
}

#main-header nav ul li img {
  margin-right: 7px;
}

#main-header div.options {
  display: flex;
}

#main-header div.options input {
  width: 220px;
  border: 1px solid #E6ECF0;
  height: 34px;
  padding: 0 30px 0 12px;
  border-radius: 16px;
  color: #667581;
  font-size: 12px;
  background: #F5F8FA url('images/search.svg') no-repeat 190px center;
}

#main-header div.options img {
  height: 36px;
  width: 36px;
  border-radius: 50%;
  margin: 0 15px;
}

#main-header div.options button {
  height: 34px;
  background: #04D361;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90px;
  font-weight: bold;
  font-size: 14px;
  color: #FFF;
  border: 0;
  border-radius: 16px;
}


/**/

div.banner {
  height: 380px;
  width: 100%;
  background: url('images/background.png') no-repeat center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #FFF;
}

div.bar {
  height: 59px;
  background: #000;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
}

div.bar .content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 285px;
  height: 100%;
}

div.bar ul {
  display: flex;
  list-style-type: none;
  height: 100%;
}

div.bar ul li {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 15px;
  position: relative;
}

div.bar ul li.active::after {
  content: '';
  height: 3px;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background: #04D361;
}

div.bar ul li span {
  color: #667580;
  font-size: 12px;
  font-weight: bold;
}

div.bar ul li strong {
  color: #667580;
  font-size: 18px;
  font-weight: bold;
  margin-top: 2px;
}

div.bar ul li.active strong {
  color: #04D361;
}

div.actions {
  display: flex;
}

div.actions button {
  display: flex;
  align-items: center;
  justify-content: center;

  border: 1px solid #04D361;
  height: 34px;
  width: 90px;
  color: #04D361;
  background: transparent;
  border-radius: 16px;
  margin-right: 20px;
}

/**/
div.wrapper-content {
  display: flex;
}

div.wrapper-content aside.profile {
  width: 260px;
}

div.wrapper-content aside.profile img.avatar {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 5px solid #FFF;
  margin-top: -130px;
}

div.wrapper-content aside.profile h1 {
  font-size: 21px;
  color: #1F2226;
  margin-top: 10px;
}

div.wrapper-content aside.profile span {
  font-size: 14px;
  color: #53626C;
  font-weight: lighter;
}

div.wrapper-content aside.profile p {
  margin-top: 15px;
  font-size: 14px;
  color: #1F2226;
}

div.wrapper-content aside.profile ul {
  margin-top: 20px;
  list-style-type: none;
}

div.wrapper-content aside.profile ul li {
  font-size: 14px;
  font-weight: normal;
  color: #657786;

  display: flex;
  align-items: center;
  margin-top: 5px;
}

div.wrapper-content aside.profile ul li:first-child {
  margin: 0;
}

div.wrapper-content aside.profile ul li img {
  margin-right: 10px;
}